* {
  margin: 0;
  padding: 0;

  background-color: #212529;

  margin: auto;
  font-family: sans-serif;
}

body {
  /* BODY SIZING */
  width: 80%;
}

header {
  /* HEADER SIZING */
  padding: 3vh 2vh;

  /* TEXT STYLE */
  color: #f1f3f5;
  text-align: center;
  font-size: 3vh;

  /* BACKGROUND */
  background-color: #343a40;
}

nav {
  /* NAV SIZINGG */
  padding: 1vh 1vh;

  /* TEXT STYLE */
  text-align: center;

  /* BACKGROUNG */
  background-color: #495057;
}

nav a:is(:visited, :link) {
  /* nav a SIZING */
  padding: 0vw 2vw 0vw 2vw;

  /* TEXT STYLE */
  color: #f1f3f5;
  text-decoration: none;

  /* BACKGROUND */
  background-color: inherit;
}
